resource "elasticstack_elasticsearch_component_template" "main" {
  for_each = { for i, v in local.component_templates : v.name => v }

  name = each.value.name

  template {
    mappings = try(each.value.template.mappings, null)
    settings = try(each.value.template.settings, null)
  }

  depends_on = [
  {% for k, v in elasticsearch.ingest_pipeline.items() %}
    elasticstack_elasticsearch_ingest_pipeline.main["{{ k }}"],
  {% endfor %}
  {% for k, v in elasticsearch.index_lifecycle.items() %}
    elasticstack_elasticsearch_index_lifecycle.main["{{ k }}"],
  {% endfor %}
  ]
}
