{% for k, v in elasticsearch.index_template.items() %}
resource "elasticstack_elasticsearch_index_template" "{{ k | replace(".", "_") | replace("-", "_") | replace("@", "_") }}" {
  name = "{{ k }}"

  {% if v.index_patterns != null %}
  index_patterns = {{ v.index_patterns | tojson }}
  {% endif %}

  {% if v.data_stream != null %}
  data_stream {
    {% if v.data_stream.allow_custom_routing != null %}allow_custom_routing = {{ v.data_stream.allow_custom_routing }}{% endif %}
    {% if v.data_stream.hidden != null %}hidden = {{ v.data_stream.hidden }}{% endif %}
  }
  {% endif %}

  {% if v.composed_of != null %}
  composed_of = {{ v.composed_of | tojson }}
  {% endif %}
}
{% endfor %}
