{% for k, v in elasticsearch.index_lifecycle_policy.items() %}
resource "elasticstack_elasticsearch_index_lifecycle" "{{ k | replace(".", "_") | replace("-", "_") | replace("@", "_") }}" {
  name = "{{ k }}"

  {% if v.policy.phases.hot != null %}
  hot {
    {% if v.policy.phases.hot.min_age != null %}min_age = "{{ v.policy.phases.hot.min_age }}"{% endif %}

    {% if v.policy.phases.hot.actions.rollover %}
      rollover {
      {% for k, v in v.policy.phases.hot.actions.rollover.items() %}
      {{ k }} = "{{ v }}"
      {% endfor %}
      }
    {% endif %}
  }
  {% endif %}
}
{% endfor %}
