{% for k, v in elasticsearch.ingest_pipeline.items() %}
resource "elasticstack_elasticsearch_ingest_pipeline" "{{ k | replace(".", "_") | replace("-", "_") }}" {
  name        = "{{ k }}"
  description = "{{ v.description }}"

  processors = [
    {% for processor in v.processors %}
    <<EOF
    {{ processor | tojson }}
    EOF
    {% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
{% endfor %}
