locals {
  component_templates = [
  {% for k, v in elasticsearch.component_template.items() %}
    {
      name = "{{ k }}"
      {% if v.template != null %}
      template = {
        {% if v.template.alias != null %}
        alias = {
          name = "{{ v.template.alias.name }}"
        }
        {% endif %}
        {% if v.template.mappings != null %}
        mappings = jsonencode({{ v.template.mappings | tojson }})
        {% endif %}
        {% if v.template.settings != null %}
        settings = jsonencode({{ v.template.settings | tojson }})
        {% endif %}
      }
      {% endif %}
    }{% if not loop.last %},{% endif %}
  {% endfor %}
  ]
}

# output "component_templates" {
#   value = local.component_templates
# }
